<!DOCTYPE html>
<html>
  <head>
    <title>TheSpoon311</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p>navbar</p>
    <h1>The Spoon App</h1>
    <%= yield %>
    <p>simple footer <%= link_to "contacts", contact_path %></p>
    <p>Now is <%= Time.now %><p>
  </body>
</html>
